<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LF Back Assessment</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src='/socket.io/socket.io.js'></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            const socket = io();
            $('form').submit(function(){
                socket.emit('new tag', $('#hashInput').val());
                $('#hashInput').val('');
                return false;
            });
            socket.on('new tag', (tag) => {
                $('.feedContainer').empty();
                
                tag.forEach( (item) => {
                    const feedItem = $('<div>').addClass('feedItem');
                    const header = $('<div>');
                    const icon = $('<img>').attr('src', item.user.profile_image_url_https).addClass('icon');
                    const handle = $('<h2>').addClass('handle').text(item.user.name);
                    const caption = $('<p>').addClass('caption').text(item.extended_tweet ? item.extended_tweet.full_text : item.text);
                    const img = (item.entities.media) ? $('<img>').attr('src', item.entities.media[0].media_url) : null
                    
                    header.append(icon, handle);
                    feedItem.append(header, caption, img);
                    $('.feedContainer').append(feedItem);
                });
            });
            socket.on('new tweet', (tweet) => {
                const feedItem = $('<div>').addClass('feedItem');
                const header = $('<div>');
                const icon = $('<img>').attr('src', tweet.user.profile_image_url_https).addClass('icon');
                const handle = $('<h2>').addClass('handle').text(tweet.user.name);
                const caption = $('<p>').addClass('caption').text(tweet.extended_tweet ? tweet.extended_tweet.full_text : tweet.text);
                const img = (tweet.entities.media) ? $('<img>').attr('src', tweet.entities.media[0].media_url) : null

                header.append(icon, handle);
                feedItem.append(header, caption, img);
                $('.feedContainer').prepend(feedItem);
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Hashtag Feed</h1>
        <form action="">
            <label for="hashtag"></label>
            <input type="text" name='hashtag' id='hashInput' autocomplete="off">
            <input type="submit" value='Search'>
        </form>
        <main class='feedContainer'>
            <% tweets.forEach((item) => { %>
                <div class='feedItem'>
                    <div>
                        <img src="<%= item.user.profile_image_url_https %>" class='icon' alt="">
                        <h2 class='handle'><%= item.user.name %></h2>
                    </div>
                    <p class="caption"><%= item.extended_tweet ? item.extended_tweet.full_text : item.text %></p>
                    <p class="caption"><%= item.created_at %></p>
                    <% if (item.entities.media) { %>
                        <img src="<%= item.entities.media[0].media_url %>" alt="">
                    <% } %>
                </div>
            <% }); %>
        </main>
    </div>
</body>
</html>